:root {
  --pendulum-width: 400px;
  --info-width: 550px;
  --content-width: calc(var(--pendulum-width) + var(--info-width));
  --content-height: 90%;

  --main-font: 'Manjari', sans-serif;
  --code-font: 'Roboto Mono', monospace;
  --script-font: 'Bad Script', cursive;

  --bg: #f5f5f5;
  --primary: #33384a;
  --secondary: #6742d6;
}

/*
 * Basic layout
 */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-family: var(--main-font);
  color: var(--primary);
}

#content {
  width: var(--content-width);
  height: var(--content-height);
  margin: 0;
  display: flex;
}

#pendulum-root {
  width: var(--pendulum-width);
  height: 100%;
  margin: 0;
  flex-shrink: 0;
}

#info {
  width: var(--info-width);
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  overflow-y: scroll;
  flex-shrink: 0;
}

/*
 * Typography and info layout
 */
h1 {
  text-align: center;
}

p {
  font-size: 11pt;
  line-height: 1.7em;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
}

.project {
  font-family: var(--code-font);
  font-size: 14pt;
  margin-right: 0.2em;
}

li p {
  margin-top: 0.4em;
  margin-bottom: 1em;
}

/*
 * Medium and small sizes
 */
@media (max-width: 950px) {
  #content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}

@media (max-width: 550px) {
  #content {
    width: 100%;
  }

  #info {
    width: 100%;
  }

  p {
    font-size: 9pt;
  }
}

