:root {
  --prose-font: 'Fira Sans', sans-serif;
  --code-font: 'Fira Mono', monospace;
  --bg: #fafafa;
  --quux: #444;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;

  background-color: var(--bg);
  font-family: var(--prose-font);
}

a,
a:visited {
  font-family: var(--code-font);
  color: var(--quux);
  text-decoration: none;
  padding: 0.2em 0.4em;
}

a:hover,
a.active {
  background-color: var(--quux);
  color: var(--bg);
}

a.active {
  font-style: italic;
}
