.arm {
  fill: var(--bg);
  stroke: var(--primary);
  cursor: pointer;

  transition: fill 0.2s;
}

.arm:hover {
  fill: var(--primary);
}

.arm.arm--moving {
  fill: var(--bg);
  cursor: unset;
}

.arm.arm--active {
  fill: var(--primary);
  cursor: pointer;
}

.arm__fulcrum {
  fill: var(--bg);
  stroke: var(--primary);
}
