:root {
  --pendulum-width: 300px;
  --info-width: 468px;
  --content-width: calc(var(--pendulum-width) + var(--info-width));
  --content-height: 90%;

  --main-font: 'Roboto', sans-serif;
  --code-font: 'Roboto Mono', monospace;

  --bg: #f5f5f5;
  --primary: #33384a;
  --secondary: #40518f;
  --tertiary: #4b68d1;
}

/*
 * Basic layout
 */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-family: var(--main-font);
  color: var(--primary);
}

#content {
  width: var(--content-width);
  height: var(--content-height);
  margin: 0;
  display: flex;
}

#pendulum-root {
  width: var(--pendulum-width);
  height: 100%;
  margin: 0;
  flex-shrink: 0;
}

#info {
  width: var(--info-width);
  margin: 0;
  padding: 8px;
  overflow-y: scroll;
  flex-shrink: 0;
}

/*
 * Medium sizes
 */
@media (max-width: 800px) {
  #content {
    --content-width: 100%;
    --content-height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}

@media (max-width: 468px) {
  #content {
    --content-width: 100%;
    padding: 10%;
  }

  #info {
    --info-width: 100%;
  }
}

/*
 * Typography and info layout
 */
h1 {
  text-align: center;
}

p {
  line-height: 1.7em;
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--tertiary);
}

li {
  list-style-type: none;
}

.project {
  font-family: var(--code-font);
}
