.app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;

  transition: background-color 0.2s;
}

.app:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.app:hover .app-controls {
  opacity: 1;
}

.app__instructions {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: var(--script-font);
  margin: 8px;
  opacity: 0;

  transition: opacity 0.2s;
}

.app:hover .app__instructions {
  opacity: 1;
}
